<title> {{ .Site.Title }} </title>
<meta charset="UTF-8">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="description" content="{{ .Description }}">
<base href="{{ .Site.BaseURL }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" type="text/css" href={{ "/style/css/bootstrap.min.css" | absURL }} />
<link rel="stylesheet" type="text/css" href={{ "/style/css/bootstrap-responsive.min.css" | absURL }} />
<link rel="stylesheet" type="text/css" href={{ "/style/css/bootstrap-grid.min.css" | absURL }} />
<link rel="stylesheet" type="text/css" href={{ "/style/css/customization.css" | absURL }} />
<link rel="stylesheet" type="text/css" href={{ "/style/css/syntax.css" | absURL }} />
<link rel='stylesheet' type="text/css" href={{ "/style/css/prism.css" | absURL }} />
